#sod-backend-order-form {
    margin: 0 0 20px;
    line-height: 21px;
    display: inline-block;
}
#sod-backend-order-form input[type="checkbox"] {
    position:relative;
    top:3px;
}
#datetimepicker:focus {
    outline:none;
}
#datetimepicker,
#timepicker_start,
#timepicker_end{
    padding: 2px 10px;
    width: 72px;
    color: sienna;
}
#timepicker_start,
#timepicker_end{
    width:15px;
    text-align:center;
}
.datetimepicker-li {
    list-style:none;
    margin-bottom:20px;
    line-height:24px;
}
.datetimepicker-li input[type="checkbox"]{
    position:relative;
    top:3px;
}
.datetimepicker-li b i.loading {
    position:relative;
    top:5px;
    left:10px;
}
span.datetimepicker-error {
    padding-left: 10px;
    color: #c20000;
}

.calendar-icon,
#calendar {
    float:right;
    display:block;
    cursor:pointer;
    width:16px;
    height:16px;
    background:transparent url("data:image/ТИП;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAd5JREFUeNqckz1PVEEUht/5uoQlhF1ihUYLg9C7Go0Fi7aYqIVW/gJbfoEJP4CCxJ6CRAoLEo0YwqIQYSXBhY2yLN1amoBEs5e7c+d4Zu4W8hGCnGTyzMw575l37s2ItZlxur03DUDyEDhfEA+HSuE5BL0aIDyY4j33fw0EH7jwAhqK1z83gPob3jxnA5cCQ08QtM9mm/SHiOaWq9Rgvl3dol3mu1Po83Mrm7RliX7x/OnrJmmV7COHK5jd6UFrYxtKRqD1Ops5ScdMrMHkHaCbD1eHe5CJbQdXuchh7NEwjLAYezyE6Bg1WTz0FA6Nj+XgPkkt5KG1oYFWApXyDgp9BpXFBvL/stxAf7/BGq8LeYNiqRT+WewbxNaFBkoDI6M3YFOH0v3BoxwdRBynYZ20HWqfV4Im5jk7cB0Hkn8JYIwM9o5TaxHynsW794Im4eYyTtOsgRHgWkRdkr/DSZpIZXlmbf1L5oC1Mm5nDRQ78AW+UJ9KGaiZN4u3gqbFWtlKsyv47PJmE6pLH6HuMNcb4VP1B3p6DWrVr5kDf/1rEx/Ix+73bxm3z2a9U+fjKmtxeWKeLhpeq0XrYOnSy/cjbccPhKjzoM4iwpsxUqA7+b3kd6/zyONisf9XgAEAP15Xfsg0XqMAAAAASUVORK5CYII=") center center no-repeat;
}
.calendar-icon {
    position: relative;
    top: -15px;
    cursor:pointer;
}
#calendar-input {
    margin:0;
    padding:0;
    width:0;
    height:0;
    border:none;
    line-height:0;
    position:absolute;
}
#sort_order_date_form {
    float:right;
}