h1 a {
font-size: 14px;
float: right;
font-weight: normal;
line-height: 24px;
display:inline-block;
margin: 0 10px;
}

.value input[type="checkbox"] {
position: relative;
top: 4px;
}

.desc-btn {
background: #FFD963;
padding: 10px 20px;
display: inline-block;
border-left: none;
cursor: pointer;
color: black;
}

.desc-btn:hover {
color: #000!important;
background-color: #FFD147;
}

.desc-btn i {
margin-right: 5px;
}

.desc {
padding: 10px;
border-left: #ECECEC solid 1px;
background-color: #FBF7F1;
}

#desc-block p {
margin-bottom: 5px;
font: 13px/18px Arial;
}

.block-frontend-design {
background: #FBFBFB;
margin: 10px -20px;
padding-left: 20px;
border: #ECECEC solid 1px;
border-left: none;
}

.block-frontend-design a {
display: inline-block;
padding: 5px 15px;
background: white;
border: #ECECEC solid 1px;
margin-bottom: 5px;
}

.block-frontend-design h4 i{
position: relative;
top: 4px;
margin-right: 8px;
}

.button:focus {
outline:none;
}

.ibutton-container {
margin-top: 5px;
}

#desc-block {
margin-bottom:20px;
}

#plugins-settings-form {
min-width:500px;
}

#skufields-new-field{
display: block;
margin-top: 20px;
}
.skufields-list-item .delete {
float:right;
}
.skufields-list-item .delete i {
float:left;
}
.skufields-list-item {
border-bottom: silver solid 1px;
padding-bottom: 10px;
}
input[type="checkbox"] {
margin-top: 5px;
}
.desc-block {
padding:10px;
background:whitesmoke;
}

.colorreplacer {
background: #123456;
display: inline-block;
width: 16px;
height: 16px;
position: relative;
top: 5px;
left: 5px;
}
#sod-form {
width:100%;
}
.field .value input[type="text"].short-inp {
padding: 2px 10px;
min-width: 16px;
width: 15px;
text-align: center;
}
.sod-plugin-settins .field .name {
width:300px;
}

.sod-plugin-settins .field .value {
margin-left:330px;
}

.sod-plugin-settins span.state {
padding: 3px 6px;
line-height: 16px;
display: inline-block;
margin: 2px 0px;
cursor:pointer;
}

.sod-plugin-settins span.checked-state {
background: rgb(255, 187, 61);
}