<form action="?plugin=sod&module=setDate" method="post" id="sod-backend-order-form">
	<input type="hidden" name="order_id" value="{$order_id}">
	<b>Дата и время доставки</b><br>
	{if $delivary_date.user_date}
    Указано покупателем: {$delivary_date.user_date}
	{if $delivary_date.user_start_hour}с {$delivary_date.user_start_hour}{/if}
	{if $delivary_date.user_end_hour}до {$delivary_date.user_end_hour}{/if}
    {else}
    Покупатель не указал время доставки
	{/if}
    <br>
	Указано менеджером: <span id="sod-m-date" data-show="1">{$delivary_date.date} {if $delivary_date.date}с {$delivary_date.start_hour}{/if} {if $delivary_date.end_hour}до {$delivary_date.end_hour}{/if}</span>
	<span id="sod-m-date-edit" style="display:none;">
	<input type="text" name="date" id="datetimepicker" value="{$delivary_date.date}">
	с <input type="text" name="start_hour" id="timepicker_start" value="{$delivary_date.start_hour}">
	до <input type="text" name="end_hour" id="timepicker_end" value="{$delivary_date.end_hour}">
	</span>
	<a href="#" id="sod-edit-date"><i class="icon16 edit"></i></a>	<br>
	<input type="checkbox" name="ok"{if $delivary_date.ok} checked="checked"{/if}> согласовано с покупателем
</form>

<script type="text/javascript">
$(function() {
    var form = $('#sod-backend-order-form');

    $.order_datetimepicker.saveDate = function(){
        $.post(this.form.attr('action'),this.form.serializeArray());
    };
	$.order_datetimepicker.init({
		dtp : $( "#datetimepicker" ),
		dtps : $('#timepicker_start'),
		dtpe : $('#timepicker_end'),
		dtpli : {},
		max_date : '{date("Y/m/d",strtotime("+`$settings.backend_day_forward` day"))}',
		min_date : '{date("Y/m/d",strtotime("+`$settings.backend_cancel_day_forward` day"))}',
		year_start : '{date("Y")}',
		year_end : '{date("Y",strtotime("+1 year"))}',
		work_min_time : '{$settings.work_min_time}',
		work_max_time : '{$settings.work_max_time+1}',
		weekend_min_time : '{$settings.weekend_min_time}',
		weekend_max_time : '{$settings.weekend_max_time+1}',
		weekend : '{$settings.weekend}',
        form : form
	});
	
	$('#sod-edit-date').click(function(){
	    var md = $('#sod-m-date');
		if ( md.data('show') == 1 ){
            md.hide();
            md.data('show',0);
			$('#sod-m-date-edit').show();
		}else{
            var date = $('#datetimepicker').val(),
                start = $('#timepicker_start').val(),
                end = $('#timepicker_end').val(),
                s = ( date != '__.__.____' ) ? date : '';
            s += ( start != '' ) ? ' с '+start : '';
            s += ( end != '' ) ? ' до '+end : '';
            md.text(s).show();
            md.data('show',1);
            $('#sod-m-date-edit').hide();
        }
        return false;
	})
    $('#sod-backend-order-form [name="ok"]').click(function(){
        $.post(form.attr('action'),form.serializeArray());
    })
});
</script>
