<li>
	<form id="sort_order_date_form">
		<i id="calendar"><input type="text" name="date" id="calendar-input"></i>
	</form>
	<form action="?plugin=sod&module=dates" id="s-sod-date-list-form"></form>
	<a href="#" id="sort_order_date"><i class="icon16 clock"></i>С доставкой</a>
</li>
<link href="{$wa_url}wa-apps/shop/plugins/sod/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css"/>
<link href="{$wa_url}wa-apps/shop/plugins/sod/css/orders.css" rel="stylesheet" type="text/css"/>
<script src="{$wa_url}wa-apps/shop/plugins/sod/js/datetimepicker/jquery.datetimepicker.js" type="text/javascript"></script>
<script src="{$wa_url}wa-apps/shop/plugins/sod/js/script.js" type="text/javascript"></script>
<script src="{$wa_url}wa-apps/shop/plugins/sod/js/orders.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
	$.sod_order_list.init();
})
</script>