<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">

	<link href="/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="/js/datetimepicker/jquery.datetimepicker.js"></script>

</head>
<body>

<div action="{$wa_app_url}shop-sod-plugin-set-date/" id="sod-form">
	<b>Укажите дату и время доставки</b><br>
	<input type="text" name="date" id="datetimepicker">

	<span class="interval workday selected" data-shipping-id="4">с 10 до 15</span>
	<span class="interval workday" data-shipping-id="4">с 15 до 18</span>
	<span class="interval workday" data-shipping-id="5">с 18 до 22</span>
	<span class="interval weekend" data-shipping-id="54">с 10 до 15</span>
	<span class="interval weekend" data-shipping-id="54">с 13 до 18</span>
</div>

<ul class="checkout-options">
    <li class="shipping-4">
        <div class="rate">
                <span class="price nowrap">
                                        0 руб.
                                    </span>
            <em class="hint error comment" style="display:none">
                <br>                </em>
            <span class="hint" style="display:none">
                    <br>
                    Приблизительное время доставки:<br>
                    <strong class="est_delivery"></strong>
                </span>

        </div>
        <h3>
            <label>
                <img src="/wa-plugins/shipping/pickup/img/S.png.pagespeed.ce.1Ilh5fgLzG.png" class="method-logo" data-pagespeed-url-hash="1149900707" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">                    <input type="radio" name="shipping_id" value="4" checked="">
                Самовывоз товаров в Санкт-Петербурге
            </label>

            <input type="hidden" name="rate_id[4]" value="1">
        </h3>
        <p><b>Забор заказа  из нашего салона по адресу: г. Санкт-Петербург, Апраксин пер., д.11, вход со двора. Товар резирвируется только на 3 дня. Заказ нужно оплатить сразу или в течении этих 3-х дней, иначе он снимается с резерва.<br></b><a href="http://www.svadebca.ru/dostavka/"><b>подробнее</b></a></p>                                </li>
    <li class="shipping-5">
        <div class="rate">
                <span class="price nowrap">
                                        300 руб.
                                    </span>
            <em class="hint error comment" style="display:none">
                <br>                </em>
            <span class="hint">
                    <br>
                    Приблизительное время доставки:<br>
                    <strong class="est_delivery">2 апреля 2017 —3 апреля 2017</strong>
                </span>

        </div>
        <h3>
            <label>
                <img src="/wa-plugins/shipping/courier/img/KS.png" class="method-logo" data-pagespeed-url-hash="2414204305" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">                    <input type="radio" name="shipping_id" value="5">
                Курьером на 2-ой рабочий день (с 10.00 до 15.00)
            </label>

            <input type="hidden" name="rate_id[5]" value="delivery">
        </h3>
        <p><b>Доставка осуществляется курьерской службой на второй рабочий день, кроме субботы и воскресенья. Курьер привозит заказ на указанный Вами адрес, предварительно созвонившись с Вами. Доставка в некоторые районы не предусмотрена.<br></b><br><a href="http://www.svadebca.ru/dostavka/"><b>подробнее</b></a></p>            <div class="wa-form wa-address" style="display:none"><div class="wa-field wa-field-address wa-field-address-shipping"><div class="wa-name">Выберите свой регион, укажите адрес доставки при необходимости</div><div class="wa-value">
        <p><input type="hidden" name="customer_5[address.shipping][country]" value="rus"><input type="hidden" name="customer_5[address.shipping][region]" value="78"><span class="wa-required field wa-field-address-city"><span>Город (посёлок, село)</span><input type="text" name="customer_5[address.shipping][city]" value="Санкт-Петербург"></span><span class="field wa-field-address-street"><span>Адрес доставки</span><input type="text" name="customer_5[address.shipping][street]" value=""></span></p>
    </div></div><input type="hidden" name="_csrf" value="58d9d1094eced3.29853550"></div>                    </li>
    <li class="shipping-54">
        <div class="rate">
                <span class="price nowrap">
                                        300 руб.
                                    </span>
            <em class="hint error comment" style="display:none">
                <br>                </em>
            <span class="hint">
                    <br>
                    Приблизительное время доставки:<br>
                    <strong class="est_delivery">2 апреля 2017 —3 апреля 2017</strong>
                </span>

        </div>
        <h3>
            <label>
                <img src="/wa-plugins/shipping/courier/img/KS.png" class="method-logo" data-pagespeed-url-hash="2414204305" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">                    <input type="radio" name="shipping_id" value="54">
                Курьером на 2-й рабочий день (с 13.00 до 18.00)
            </label>

            <input type="hidden" name="rate_id[54]" value="delivery">
        </h3>
        <p><b>Доставка осуществляется курьерской службой на второй рабочий день, кроме субботы и воскресенья. Курьер привозит заказ на указанный Вами адрес, предварительно созвонившись с Вами. Доставка в некоторые районы не предусмотрена.<br></b><br><a href="http://www.svadebca.ru/dostavka/"><b>подробнее</b></a></p>            <div class="wa-form wa-address" style="display:none"><div class="wa-field wa-field-address wa-field-address-shipping"><div class="wa-name">Выберите свой регион, укажите адрес доставки при необходимости</div><div class="wa-value">
        <p><input type="hidden" name="customer_54[address.shipping][country]" value="rus"><input type="hidden" name="customer_54[address.shipping][region]" value="78"><span class="wa-required field wa-field-address-city"><span>Город (посёлок, село)</span><input type="text" name="customer_54[address.shipping][city]" value="Санкт-Петербург"></span><span class="field wa-field-address-street"><span>Адрес доставки</span><input type="text" name="customer_54[address.shipping][street]" value=""></span></p>
    </div></div><input type="hidden" name="_csrf" value="58d9d1094eced3.29853550"></div>                    </li>
    <li class="shipping-27">
        <div class="rate">
                <span class="price nowrap">
                                        400 руб.
                                    </span>
            <em class="hint error comment" style="display:none">
                <br>                </em>
            <span class="hint">
                    <br>
                    Приблизительное время доставки:<br>
                    <strong class="est_delivery">2 апреля 2017 —3 апреля 2017</strong>
                </span>

        </div>
        <h3>
            <label>
                <img src="/wa-plugins/shipping/courier/img/KS.png" class="method-logo" data-pagespeed-url-hash="2414204305" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">                    <input type="radio" name="shipping_id" value="27">
                Курьером на 2-й рабочий день (с 18.00 до 22.00)
            </label>

            <input type="hidden" name="rate_id[27]" value="delivery">
        </h3>
        <p><b>Доставка осуществляется курьерской службой на второй рабочий день, кроме субботы и воскресенья. Курьер привозит заказ на указанный Вами адрес, предварительно созвонившись с Вами. Доставка в некоторые районы не предусмотрена.<br></b><br><a href="http://www.svadebca.ru/dostavka/"><b>подробнее</b></a></p>            <div class="wa-form wa-address" style="display:none"><div class="wa-field wa-field-address wa-field-address-shipping"><div class="wa-name">Выберите свой регион, укажите адрес доставки при необходимости</div><div class="wa-value">
        <p><input type="hidden" name="customer_27[address.shipping][country]" value="rus"><input type="hidden" name="customer_27[address.shipping][region]" value="78"><span class="wa-required field wa-field-address-city"><span>Город (посёлок, село)</span><input type="text" name="customer_27[address.shipping][city]" value="Санкт-Петербург"></span><span class="field wa-field-address-street"><span>Адрес доставки</span><input type="text" name="customer_27[address.shipping][street]" value=""></span></p>
    </div></div><input type="hidden" name="_csrf" value="58d9d1094eced3.29853550"></div>                    </li>
    <li class="shipping-69">
        <div class="rate">
                <span class="price nowrap">
                                        800 руб.
                                    </span>
            <em class="hint error comment" style="display:none">
                <br>                </em>
            <span class="hint">
                    <br>
                    Приблизительное время доставки:<br>
                    <strong class="est_delivery">1 апреля 2017</strong>
                </span>

        </div>
        <h3>
            <label>
                <img src="/wa-plugins/shipping/courier/img/KS.png" class="method-logo" data-pagespeed-url-hash="2414204305" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">                    <input type="radio" name="shipping_id" value="69">
                Курьером "Срочная" (с 10.00 до 23.00)
            </label>

            <input type="hidden" name="rate_id[69]" value="delivery">
        </h3>
        <p><b>Доставка осуществляется курьерской службой в этот же день или на следующий. Доставка возможна в любой день недели. Курьер привозит заказ на указанный Вами адрес, предварительно созвонившись с Вами. Доставка в некоторые районы не предусмотрена.<br></b><br><a href="http://www.svadebca.ru/dostavka/"><b>подробнее</b></a></p>            <div class="wa-form wa-address" style="display:none"><div class="wa-field wa-field-address wa-field-address-shipping"><div class="wa-name">Выберите свой регион, укажите адрес доставки при необходимости</div><div class="wa-value">
        <p><input type="hidden" name="customer_69[address.shipping][country]" value="rus"><input type="hidden" name="customer_69[address.shipping][region]" value="78"><span class="wa-required field wa-field-address-city"><span>Город (посёлок, село)</span><input type="text" name="customer_69[address.shipping][city]" value="Санкт-Петербург"></span><span class="field wa-field-address-street"><span>Адрес доставки</span><input type="text" name="customer_69[address.shipping][street]" value=""></span></p>
    </div></div><input type="hidden" name="_csrf" value="58d9d1094eced3.29853550"></div>                    </li>
</ul>

<style>
    #sod-form .interval {
        display: none;
    }
    span.interval.selected {
        background: bisque;
        padding: 3px 5px;
        display: block;
    }
    span.interval {
        padding: 3px 5px;
        display: inline-block;
        cursor:pointer;
    }
</style>

<script type="text/javascript">
    $(function() {

        function saveDate(d,b,e){
            $.post($('#sod-form').attr('action'),{
                'date' : d,
                'start_hour' : b,
                'end_hour' : e
            });
        };

        function ch(e){
            $('#sod-form > .interval').hide();
            if ( e ){
                $('#sod-form > .interval.weekend').show();
                if ( $('#sod-form > .interval.weekend.selected').size() == 0 )
                    $('#sod-form > .interval.weekend:first').addClass('selected');
            } else {
                $('#sod-form > .interval.workday').show();
                if ( $('#sod-form > .interval.workday.selected').size() == 0 )
                    $('#sod-form > .interval.workday:first').addClass('selected');
            }
            switchShipping();
        }

        function format(date){
            var d = date.getDate(),
                m = date.getMonth()+1,
                y = date.getFullYear(),
                s = '';
            d = d < 10 ? '0'+d : d;
            m = m < 10 ? '0'+m : m;
            return d+'.'+m+'.'+y;
        }

        function switchShipping(){
            var s = $('#sod-form .interval.selected').data('shipping-id');
            $('#sod-form .interval').each(function(){
                var c = $(this).data('shipping-id');
                ( c == s ) ? $('.shipping-'+c).show() : $('.shipping-'+c).hide();
            })
            $('.shipping-'+s).find('[name="shipping_id"]').attr('checked',true).prop('checked',true);
        }

        $('#sod-form').on('click','.interval',function(){
            $(this).parent().find('.selected').removeClass('selected');
            $(this).addClass('selected');
            switchShipping();
        })

        switchShipping();

        var today = new Date();

        //today.setDate(today.getDate());

        today.getDay() == 0 && today.setDate(today.getDate()+1);
        ch( today.getDay() == 6 )


        $('#datetimepicker').val(format(today));

        var options = {
            lang : 'ru',
            mask : '39.19.2999',
            format : 'd.m.Y',
            timepicker : false,
            minDate : format(today),
            //maxDate : this.max_date,
            //yearStart : this.year_start,
            //yearEnd : this.year_end,
            dayOfWeekStart:1,
            onSelectDate : function(){
                setTimeout(function(){
                    ch($('.xdsoft_datepicker.active .xdsoft_current').is('.xdsoft_day_of_week6'));
                },100)

            },
            onChangeDateTime : function( ct ){

            },
            onGenerate : function( ct ){
                $('.xdsoft_day_of_week0',this).addClass('xdsoft_disabled');
            }
        };

        $('#datetimepicker').datetimepicker(options);
    });
</script>

</body>
</html>